.eric6project/
.ropeproject/
__pycache__/
.venv/
docs/
*~
*pdf
*jpg
*png
*zip
*txt
*ods
*tif
*epj
Notes*
ycecream.json
*csv
bin
lib*
pyvenv.cfg
Primitive_Code/
z_scratch.py
z_junk.py
.eric7project/
.jedi/
*wtf
serial.conf
old*
*pickle
documentation/
Auto_Py_config.json
z_*
zz_*
ChatGPT downloads/
developer docs/
my_main.py
training.py
*prof
delMe.py
share/
snake_venv/
